<div class="row">
    <div class="col s6 offset-s3">
      <div class="card">
        <div class="col s6">
          <h2>Are you Smart enough ?</h2>
        </div>
        <div class="col s6">
          <img src="../../assets/img/logo.png" style="width:250px;height:250px;" class="offset-s3">
        </div>
        <div class="card-content">

            <form #registerForm="ngForm" (ngSubmit)="OnSubmit(Name.value)">
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">account_circle</i>
                        <input type="text" name="Name" #Name ngModel required>
                        <label>Name</label>
                    </div>
                </div>
                <div class="row">
                  <div class="input-field col s12">
                      <i class="material-icons prefix">category</i>
                      <input type="text" name="Category" #Category ngModel required>
                      <label>Category</label>
                  </div>
              </div>
              <div class="row">
                <!--<div class="input-field col s12">
                    <i class="material-icons prefix">explore</i>
                    <input type="number" name="Level" #Level ngModel required max="3">
                    <label>Level</label>
                </div> -->
                <div class="input-field col s12">
                  hey
                <select name="level" id="level" [(ngModel)]="level  ">
                  <option *ngFor="let level of levelList" [value]="level.name">{{level.name}}</option>
                </select>
                </div>
                 
            </div>
                <div class="row">
                    <div class="input-field col s12">
                       <button class="btn-large btn-submit" type="submit" [disabled]="!registerForm.valid" >Start</button>
                    </div>
                </div>
            </form>

        </div>
      </div>
    </div>
  </div>